input[type="radio"] {
  accent-color: $base-button-color;
} 

button[type="button"] {
  background-color: rgba(0,0,0,0);
  border: 1px solid $base-button-color;
  color: $base-button-color;
  text-align: center;
  box-shadow: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

button[type="button"][disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}
  
